<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Production Load Balancer</title>
    <meta name="description" content="Production Load Balancer">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>
    <div class="start">
            <p>seconds:</p>
            <input type="number" id="secondsInput" value="">
            <button onclick="timerOne()">Start</button>
            <p id=""></p>
            <p>count:</p>
            <input type="number" id="ballCount" value="">
            <button onclick="getCount()">Start</button>
    </div>
    <div class="module1">
        <div class="ball">
            <img class="ball" src="assets/orangeBall.png">
        </div>
        <div class="circle">
            <img class="grey-circle" src="assets/GreyCircle.png">
        </div>
        <div class="tube">
            <img class="grey-tube" src="assets/GreyTube.png">
        </div>
        <div class="square">
            <img class="grey-square" src="assets/GreySquare.png">
        </div>
        <div class="tube2">
            <img class="grey-tube" src="assets/GreyTube.png">
        </div>
        <div class="circle2">
            <img class="grey-circle2" src="assets/GreyCircle.png">
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>